@charset "utf-8";

/* 小于 895px 采用这个样式 */
@media screen and (max-width: 895px) {
    /*隐藏头部logo*/
    .header {
        display: none;
    }
    /*中部顶格*/
    .center {
        top: 0;
    }
    
    /* 调出播放器按钮 */
    .btn[data-action='player'] {
        display: inline-block;
    }
    
    /* 按钮工具条区域 */
    #btn-area span{
        display: block;
    }
    .btn-bar {
        height: 35px;
        right: 0;
        z-index: 999;
    }
    .btn-box {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.12);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .btn {
        margin: 0;
        padding: 0;
        width: 50%;
        height: 100%;
        display: block;
        float: left;
        border: none;
        text-align: center;
        line-height: 35px;
        color: #C5C5C5;
    }
    .btn:hover {
        border: none;
    }
    .btn-box .active:after {
        content: '';
        display: block;
        border-bottom: 3px solid #A2A0A0;
        margin-top: -3px;
    }
    /*搜索*/
    .serchsongs{
        top:24px;
        width: 94%;
    }
    
    /* 中部容器区域 */
    .data-area {
        top: 40px;
    }
    
    /*数据区域占满整个屏幕*/
    .data-area {
        right: 0;
        top: 66px;
    }
    
    
    /*列表菜单不显示*/
    .list-menu {
        display: none!important;
    }
    .music-name-cult {
        padding-right: 0!important;
    }
    
    /* 专辑区域腾出位置 */
    .music-album {
        margin-right: 30px;
    }
    /* 小屏幕的列表菜单 */
    .list-mobile-menu {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../images/player.png);
        background-position: -30px -365px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
    }
    
    /*控制按钮区域缩小*/
    .con-btn {
        width: 120px;
    }
    /*进度条调整*/
    .progress {
        width: auto;
        margin-left: 158px;
        margin-right: 135px;
        height: 100%;
        position: relative;
    }
    /*音量控制区域隐藏*/
    .vol {
        display: none;
    }
    
    /*隐藏右侧歌词及封面*/
    .player {
        display: none;
        width: 100%;
    }
    .cover {
        margin-top: 60px;
    }
    #lyric {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .lyric {
        top: 270px;
    }
    .btn-download{
        left: 70%;
    }
}

/* 小于 620px 采用这个样式 */
@media screen and (max-width: 620px) {
    /*专辑信息不显示*/
    .music-album {
        display: none;
    }
    /*歌手名字*/
    .auth-name {
        width: 35%;
        padding-right: 30px;
        box-sizing: border-box;
    }
    /*音乐名字拉长*/
    .music-name {
        margin-right: 35%;
    }
    
    /*其他隐藏*/
    .others{
        display: none;
    }
    /*进度条调整*/
    .progress {
        width: auto;
        margin-left: 148px;
        margin-right: 20px;
        height: 100%;
        position: relative;
    }
}

/* 小于 500px 采用这个样式 */
@media screen and (max-width: 500px) {
    .center {
        bottom: 60px;
    }
    /* 歌单封面 */
    .sheet-item {   
        width: 33.33%;
    }
    /* 歌单名字 */
    .sheet-name {
        max-width: 100px;
    }
    .cover {
        margin-top: 50px;
    }
    .footer {
        height: 60px;
    }
    /*歌曲信息降高一点 */
    .progress_msg{
        top: 17%;
    }
    /* 进度条上的歌曲名称隐藏 */
    .progress_msg .music_title{
        display: none;
    }
    /*歌曲进度条移为水平
    .progress-box{
        top: 50%;
    }*/
}

/* 小于 350px 采用这个样式 */
@media screen and (max-width: 350px) {
    /* 歌单封面 */
    .sheet-item {   
        width: 50%;
    }
}